# Pandas

Pandas Series Object

In [ ]:
import pandas as pd

s1 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s1)

# Dictonary series 
s2 = pd.Series({'a':10,'b':20,'c':30})


# calculations
s1 + 1
s1 + s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
# Dataframe
df = pd.DataFrame({"Name":['Bob','Sam','Anne'],"Marks":[76,25,92]})
df

   Name  Marks
0   Bob     76
1   Sam     25
2  Anne     92

Reading csv & Pandas Functions

In [ ]:
file = pd.read_csv('') # enter filename

file.read() # reading file

# Reading functions
file.head()                 # read first 5 rows 
file.tail()                 # read last 5 rows
file.shape                  # returns num of rows & columns
file.descrive               # return description

In [ ]:
# Extract rows and columns
file.iloc['row', 'col']                                     # .iloc - for extracting by index
file.loc['row', ('col1', 'col2')]                           # .loc - for extracting by labels

# Drop 
file.drop('col | row', axis=1, inplace=True)                # axis=1 for columns, axis=0 for rows

# other functions
file.sort_index()                                           # sort by index
file.sort_values(by='colname')                              # sort by column values
file.value_counts('colname')                                # count unique values in column
file.groupby('colname')                                     # group by column values

# .mean(), .sum(), .count(), .min(), .max() etc for calculations

file.to_csv('newfilename.csv', index=False)                 # saving file without index

file['col_name'].apply()                                    # apply function to dataframe