# Pandas

Pandas Series Object

In [2]:
import pandas as pd

s1 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s1)

# Dictonary series 
s2 = pd.Series({'a':10,'b':20,'c':30})


# calculations
s1 + 1
s1 + s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

a    11.0
b    22.0
c    33.0
d     NaN
e     NaN
dtype: float64

In [3]:
# Dataframe
df = pd.DataFrame({"Name":['Bob','Sam','Anne'],"Marks":[76,25,92]}, index=[1,2,3])
df

   Name  Marks
1   Bob     76
2   Sam     25
3  Anne     92

Reading csv & Pandas Functions

In [ ]:
file = pd.read_csv('') # enter filename

file.read() # reading file

# Reading functions
file.head()                 # read first 5 rows 
file.tail()                 # read last 5 rows
file.shape                  # returns num of rows & columns
file.descrive               # return description

In [ ]:
# Extract rows and columns
file.iloc['row', 'col']                                     # .iloc - for extracting by index
file.loc['row', ('col1', 'col2')]                           # .loc - for extracting by labels

# Drop 
file.drop('col | row', axis=1, inplace=True)                # axis=1 for columns, axis=0 for rows

# other functions
file.sort_index()                                           # sort by index
file.sort_values(by='colname')                              # sort by column values
file.value_counts('colname')                                # count unique values in column
file.groupby('colname')                                     # group by column values

# .mean(), .sum(), .count(), .min(), .max() etc for calculations

file.to_csv('newfilename.csv', index=False)                 # saving file without index

file['col_name'].apply()                                    # apply function to dataframe

In [1]:
import pandas as pd

file = pd.read_csv('customers-100.csv')  

file.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [8]:
import pandas as pd

file = pd.read_csv('customers-100.csv')

print(file.columns)

file.loc[0:5, ('Customer Id','First Name', 'Last Name',)]


# file.value_counts('Country')

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')

       Customer Id First Name Last Name
0  DD37Cf93aecA6Dc     Sheryl    Baxter
1  1Ef7b82A4CAAD10    Preston    Lozano
2  6F94879bDAfE5a6        Roy     Berry
3  5Cef8BFA16c5e3c      Linda     Olsen
4  053d585Ab6b3159     Joanna    Bender
5  2d08FB17EE273F4      Aimee     Downs